logs
*.log

config.php
config/*

tmp
*.tmp

cache
*.cache

sessions
*.session

*.swp
*.swo
*.bak
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.vscode/
.idea/

vendor/
composer.lock

node_modules/
package-lock.json

.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/releases

phpunit.xml
phpunit.xml.dist

docker-compose.override.yml

webpack.config.js

storage/
bootstrap/cache/
.env
.env.*.php
.env.*.local
.phpunit.result.cache

var/
bin/.phpunit

sites/default/files/
sites/default/settings.php

wp-config.php
wp-content/uploads/

var/
pub/static/
generated/
.DS_Store
Thumbs.db